<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.ufv.daniel.medcap">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activity.ListadeMedicosActivity" />
        <activity
            android:name=".view.activity.CadastrarEspecialidadeActivity"
            android:label="Cadastro de Especialidade" />
        <activity
            android:name=".view.activity.CadastroEnderecoActivity"
            android:label="Cadastro de Endereço" />
        <activity android:name=".view.activity.ListadeEspecialidadesActivity" />
        <activity
            android:name=".view.activity.CadastrarTipoEspecialidadeActivity"
            android:label=".Novo tipo de Especialidade" />
        <activity android:name=".view.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.CadastroAgendamentoActivity" />
        <activity
            android:name=".view.activity.CadastroMedicoActivity"
            android:label="@string/title_activity_cadastro_medico"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.activity.EscolhaCadastroActivity"></activity>
    </application>

</manifest>